<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title%></title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport" />
    <link rel="stylesheet" href="/stylesheets/swiper/dist/css/swiper.min.css" />
    <link rel="stylesheet" href="/stylesheets/question.css" />
    <link rel="stylesheet" href="/stylesheets/Animate.css" />
    <script src="/javascripts/polygonTrans.js"></script>
    <script src="/javascripts/moveMotion.js"></script>
  </head>
  <body onload="init()">
    <div class = "swiper-questionnaire">

      <div class="swiper-wrapper">

        <div class="swiper-slide">

            <form id = "1stQ">
              <div class="q1">
              <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q1s1" style="display:none;">
                <label for="q1s1">
                  <img src = "/images/question/q1s1_c.png" class = "q1s1"></img>
                  <img src="/images/question/q1s1.png" class="q1s1" ontouchstart = "touchStart(this)" ontouchend="touchEnd(this)"></img>
                </label>
              </input></br>
              <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q1s2" style="display:none;">
                <label for="q1s2">
                  <img src = "/images/question/q1s2_c.png" class = "q1s2"></img>
                  <img src="/images/question/q1s2.png" class="q1s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
              </input></br>
              <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q1s3" style="display:none;">
                <label for="q1s3">
                  <img src = "/images/question/q1s3_c.png" class = "q1s3"></img>
                  <img src="/images/question/q1s3.png" class="q1s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
              </input></br>
              </div>
            </form>

        </div>
        <div class="swiper-slide">
          <form id = "2ndQ">
            <div class="q2">
            <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q2s1" style="display:none;">
              <label for="q2s1">
                <img src = "/images/question/q2s1_c.png" class = "q2s1"></img>
                <img src="/images/question/q2s1.png" class="q2s1" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q2s2" style="display:none;">
              <label for="q2s2">
                <img src = "/images/question/q2s2_c.png" class = "q2s2"></img>
                <img src="/images/question/q2s2.png" class="q2s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q2s3" style="display:none;">
              <label for="q2s3">
                <img src = "/images/question/q2s3_c.png" class = "q2s3"></img>
                <img src="/images/question/q2s3.png" class="q2s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <img src="/images/question/bt_back_c.png" class="bt_back"></img>
            <img src="/images/question/bt_back.png" class="bt_back" ontouchstart="touchStart(this)" ontouchend="touch_bt_back(this)"></img>
            </div>
          </form>
        </div>
        <div class="swiper-slide">
          <form id = "3rdQ">
            <div class="q3">
            <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q3s1" style="display:none;">
              <label for="q3s1">
                <img src = "/images/question/q3s1_c.png" class = "q3s1"></img>
                <img src="/images/question/q3s1.png" class="q3s1" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q3s2" style="display:none;">
              <label for="q3s2">
                <img src = "/images/question/q3s2_c.png" class = "q3s2"></img>
                <img src="/images/question/q3s2.png" class="q3s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q3s3" style="display:none;">
              <label for="q3s3">
                <img src = "/images/question/q3s3_c.png" class = "q3s3"></img>
                <img src="/images/question/q3s3.png" class="q3s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <img src="/images/question/bt_back_c.png" class="bt_back"></img>
            <img src="/images/question/bt_back.png" class="bt_back" ontouchstart="touchStart(this)" ontouchend="touch_bt_back(this)"></img>
            </div>
          </form>
        </div>
        <div class="swiper-slide">
          <form id = "4thQ">
            <div class="q4">
            <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q4s1" style="display:none;">
              <label for="q4s1">
                <img src = "/images/question/q4s1_c.png" class = "q4s1"></img>
                <img src="/images/question/q4s1.png" class="q4s1" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q4s2" style="display:none;">
              <label for="q4s2">
                <img src = "/images/question/q4s2_c.png" class = "q4s2"></img>
                <img src="/images/question/q4s2.png" class="q4s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q4s3" style="display:none;">
              <label for="q4s3">
                <img src = "/images/question/q4s3_c.png" class = "q4s3"></img>
                <img src="/images/question/q4s3.png" class="q4s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <img src="/images/question/bt_back_c.png" class="bt_back"></img>
            <img src="/images/question/bt_back.png" class="bt_back" ontouchstart="touchStart(this)" ontouchend="touch_bt_back(this)"></img>
            </div>
          </form>
        </div>
        <div class="swiper-slide">
          <form id = "5thQ">
            <div class="q5">
            <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q5s1" style="display:none;">
              <label for="q5s1">
                <img src = "/images/question/q5s1_c.png" class = "q5s1"></img>
                <img src="/images/question/q5s1.png" class="q5s1" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q5s2" style="display:none;">
              <label for="q5s2">
                <img src = "/images/question/q5s2_c.png" class = "q5s2"></img>
                <img src="/images/question/q5s2.png" class="q5s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q5s3" style="display:none;">
              <label for="q5s3">
                <img src = "/images/question/q5s3_c.png" class = "q5s3"></img>
                <img src="/images/question/q5s3.png" class="q5s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <img src="/images/question/bt_back_c.png" class="bt_back"></img>
            <img src="/images/question/bt_back.png" class="bt_back" ontouchstart="touchStart(this)" ontouchend="touch_bt_back(this)"></img>
            </div>
          </form>
        </div>
        <div class="swiper-slide">
          <form id = "6thQ">
            <div class="q6">
            <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q6s1" style="display:none;">
              <label for="q6s1">
                <img src = "/images/question/q6s1_c.png" class = "q6s1"></img>
                <img src="/images/question/q6s1.png" class="q6s1" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q6s2" style="display:none;">
              <label for="q6s2">
                <img src = "/images/question/q6s2_c.png" class = "q6s2"></img>
                <img src="/images/question/q6s2.png" class="q6s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q6s3" style="display:none;">
              <label for="q6s3">
                <img src = "/images/question/q6s3_c.png" class = "q6s3"></img>
                <img src="/images/question/q6s3.png" class="q6s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <img src="/images/question/bt_back_c.png" class="bt_back"></img>
            <img src="/images/question/bt_back.png" class="bt_back" ontouchstart="touchStart(this)" ontouchend="touch_bt_back(this)"></img>
            </div>
          </form>
        </div>
        <div class="swiper-slide">
          <audio src="/images/question/audio.mp3" autoplay="true" preload="preload" loop="loop"></audio>
          <form id = "7thQ">
            <div class="q7">
            <input type="radio" name="fisrt" value="100" onclick="nextQusetion()" id="q7s1" style="display:none;">
              <label for="q7s1">
                <img src = "/images/question/q7s1_c.png" class = "q7s1"></img>
                <img src="/images/question/q7s1.png" class="q7s1" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="30" onclick="nextQusetion()" id="q7s2" style="display:none;">
              <label for="q7s2">
                <img src = "/images/question/q7s2_c.png" class = "q7s2"></img>
                <img src="/images/question/q7s2.png" class="q7s2" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <input type="radio" name="fisrt" value="10" onclick="nextQusetion()" id="q7s3" style="display:none;">
              <label for="q7s3">
                <img src = "/images/question/q7s3_c.png" class = "q7s3"></img>
                <img src="/images/question/q7s3.png" class="q7s3" ontouchstart="touchStart(this)" ontouchend="touchEnd(this)"></img></label>
            </input></br>
            <img src="/images/question/bt_back_c.png" class="bt_back"></img>
            <img src="/images/question/bt_back.png" class="bt_back" ontouchstart="touchStart(this)" ontouchend="touch_bt_back(this)"></img>
            </div>
          </form>
        </div>
        <div class="swiper-slide" id = "shake">
        <button onclick="submitQuestion()" style="position:absolute;z-index=9999"></button>
        <img src="/images/analysis/background.png" style="position:absolute;width:100%;"></img>
        <img src="/images/analysis/cloud.png" id="cloud"></img>
        <img src="/images/analysis/starB.png" id="starB"></img>
        <img src="/images/analysis/starDB.png" id="starDB"></img>
        <img src="/images/analysis/starO.png" id="starO"></img>
        <div style="position:relative;left:3.28rem;top:9.03rem;width:4.16rem;height: 3.76rem;"><div id="squire"></div></div>
        <img src="/images/analysis/lenS1.png" id="lenS1"></img>
        <img src="/images/analysis/lenS1.png" id="lenS2"></img>
        <img src="/images/analysis/lenS1.png" id="lenS3"></img>
        <img src="/images/analysis/plate.png" id="plate"></img>
        <img src="/images/analysis/microScope.png" id="microScope"></img>
        <img src="/images/analysis/lens.png" id="lens"></img>

        <img src="/images/analysis/axis.png" id="axis"></img>
        <img src="/images/analysis/cicleOut.png" id="cicleOut"></img>
        <img src="/images/analysis/cicleIn.png" id="cicleIn"></img>
        <img src="/images/analysis/tube1.png" id="tube1"></img>
        <img src="/images/analysis/tube2.png" id="tube2"></img>
        <img src="/images/analysis/tube3.png" id="tube3"></img>
        <img src="/images/analysis/tube4.png" id="tube4"></img>
        <!-- <div id="squire"></div> -->
        </div>

        <div id="nameTest"></div>
      </div>
      <progress id="quest_progress" value="0.1428"></progress>
    </div>
  </body>

  <script>
  function init(){
    questionList.push(document.getElementById("1stQ"));
    questionList.push(document.getElementById("2ndQ"));
    questionList.push(document.getElementById("3rdQ"));
    questionList.push(document.getElementById("4thQ"));
    questionList.push(document.getElementById("5thQ"));
    questionList.push(document.getElementById("6thQ"));
    questionList.push(document.getElementById("7thQ"));
  }

  function touchStart(btn){
    btn.style.visibility = "hidden";
  }

  function touchEnd(btn){
    btn.style.visibility = "visible";
  }

  function touch_bt_back(btn){
    touchEnd(btn);
    setTimeout(function () {
      swiper_questionnaire.slidePrev();
    }, 200);
  }
  </script>
  <!-- Swiper JS -->
  <script src="/stylesheets/swiper/dist/js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
  var swiper_questionnaire = new Swiper(".swiper-questionnaire",{
    // noSwiping:true;
     allowTouchMove: false,
     on : {
       slideChange:function(){
         var progress = document.getElementById("quest_progress");
         progress.value = (swiper_questionnaire.activeIndex+1)/7;
         if(swiper_questionnaire.activeIndex==7){

           progress.style.display = "none";
           var cloud = document.getElementById("cloud");
           cloud.className = "cloudAnim";
           var starB = document.getElementById("starB");
           starB.style.animation = "bounceInDown 1s";

           var starDB = document.getElementById("starDB");
           starDB.style.animation = "bounceInDown 1s";
           starDB.style.animationDelay = "0.3s";
           var starO = document.getElementById("starO");
           starO.style.animation = "bounceInDown 1s";
           starO.style.animationDelay = "0.16s";

           var squire = document.getElementById("squire");
           squire.style.animation = "squire 1s";
           squire.style.animationDelay = "0.5s";
           squire.style.animationFillMode= "forwards";

           var plate = document.getElementById("plate");
           plate.style.animation = "plate 1s";
           plate.style.animationDelay = "1.5s";
           plate.style.animationFillMode= "forwards";

           var mS = document.getElementById("microScope");
           mS.style.animation = "microScope 1s";
           mS.style.animationDelay = "1.5s";
           mS.style.animationFillMode= "forwards";

           var lenS1 = document.getElementById("lenS1");
           lenS1.className = "lenTranAnim1";

           var lenS2 = document.getElementById("lenS2");
           lenS2.className = "lenTranAnim2";

           var lenS3 = document.getElementById("lenS3");
           lenS3.className = "lenTranAnim3";


           var lens = document.getElementById("lens");
           lens.className = 'lensAnim';

           var axis = document.getElementById("axis");
           axis.className = "axisAnim";

           var cicleOut = document.getElementById("cicleOut");
           cicleOut.className = "cicleOutAnim";

           var cicleIn = document.getElementById("cicleIn");
           cicleIn.style.animation = "cicleOut1 1s";
           cicleIn.style.animationDelay = "1.5s";
           cicleIn.style.animationFillMode= "forwards";

           var tube1 = document.getElementById("tube1");
           tube1.className = "tubeAnim1";

           var tube2 = document.getElementById("tube2");
           tube2.className = "tubeAnim2";

           var tube3 = document.getElementById("tube3");
           tube3.className = "tubeAnim1";

           var tube4 = document.getElementById("tube4");
           tube4.className = "tubeAnim2";

           setTimeout(function () {
             submitQuestion();
           }, 5000);
         }
       },
     },
  });
  </script>

  <script>
     var html = document.querySelector('html');
     function setPxPerRem(){
         var dpr = 1;
         var pxPerRem = document.documentElement.clientWidth * dpr / 10;
         html.style.fontSize = pxPerRem + "px";
         // alert(document.documentElement.clientWidth);
     };
     setPxPerRem();
   </script>

  <script>
  var name = document.getElementById("nameText");
  name.innerHTML = "<%= locals.name %>";
  testeeName = "<%= locals.name %>";
  </script>
</html>
