#homeImgDiv{
  background-color: black;
  position: relative;
  left: 6.66%;
  width: 86.6%;
  height: 74%;
}

#homeBody{
  position: absolute;
  left:8.9%;
  top:16.5%;
  width:86.7%;
  /* height: 70.8%; */
}

#homeBackground{
  position: relative;
  width: 100%;
  height: 100%;
}

#homeC1{
  position: absolute;
  left:12%;
  top:32.3%;
  width: 16.7%;
  animation: c1 infinite 1s;
  animation-direction:alternate;
}

@keyframes c2
{
from {transform: rotateZ(0);}
to {transform: rotateZ(10deg);}
}

#homeC2{
  position: absolute;
  left:71.1%;
  top:34.2%;
  width: 20%;
  animation: c2 infinite 1s;
  animation-direction:alternate;
}

@keyframes c1
{
from {transform: translate3d(0,0,0);}
to {transform: translate3d(-5px,-5px,0);}
}

#homeC3{
  position: absolute;
  left:6.8%;
  top:61.7%;
  width: 18.7%;
  animation: c3 infinite 1s;
  animation-direction:alternate;
}

@keyframes c3
{
from {transform: translate3d(0,0,0);}
to {transform: translate3d(0,10px,0);}
}

#homeShadow{
  position: absolute;
  left: 8.9%;
  top:77.5%;
  width: 11.9%;
  animation: shadow infinite 1s;
  animation-direction: alternate;
}

@keyframes shadow {
  from {transform: scaleX(1);}
  to {transform: scaleX(1.2);}
}

#homeLight{
  position: absolute;
  left: 5.8%;
  top:46.5%;
  width: 18.7%;
  animation: light infinite 0.5s;
  animation-direction: alternate;
}

@keyframes light {
  from {opacity: 1;}
  to{opacity: 0.5;}
}

#homeTvlight{
  position: absolute;
  left: 60.8%;
  top:56.9%;
  width: 18.7%;
  animation: light infinite 0.5s;
  animation-direction: alternate;
}

#homeSignal1{
  position: absolute;
  left: 56.4%;
  top:27.3%;
  width: 1.3%;
  animation: signal1 infinite 1.5s;
}

@keyframes signal1 {
  0% {opacity: 1;}
  50% {opacity: 1;}
  51% {opacity: 0;}
  100% {opacity: 0;}
}

#homeSignal2{
  position: absolute;
  left: 56.5%;
  top:25.5%;
  width: 4%;
  animation: signal2 infinite 1.5s;
  animation-delay: 0.25s;
}

@keyframes signal2 {
  0% {opacity: 1;}
  50% {opacity: 1;}
  51% {opacity: 0;}
  100% {opacity: 0;}
}

#homeSignal3{
  position: absolute;
  left: 56.5%;
  top:23.6%;
  width: 7%;
  animation: signal3 infinite 1.5s;
  animation-delay: 0.5s;
}

@keyframes signal3 {
  0% {opacity: 1;}
  50% {opacity: 1;}
  51% {opacity: 0;}
  100% {opacity: 0;}
}

#Lspot1{
  position: absolute;
  left: 20.4%;
  top: 95.3%;
  width: 3.9%;
  animation: spot infinite 2s;
}

@keyframes spot {
  0% {opacity: 1;}
  50% {opacity: 1;}
  51% {opacity: 0;}
  100% {opacity: 0;}
}

#Lspot2{
  position: absolute;
  left: 16.8%;
  top: 95.3%;
  width: 3.9%;
  animation: spot infinite 2s;
  animation-delay: 0.25s;
}


#Lspot3{
  position: absolute;
  left: 13.7%;
  top: 95.3%;
  width: 3.9%;
  animation: spot infinite 2s;
  animation-delay: 0.5s;
}

#Lspot4{
  position: absolute;
  left: 11%;
  top: 95.3%;
  width: 3.9%;
  animation: spot infinite 2s;
  animation-delay: 0.75s;
}

#Rspot1{
  position: absolute;
  left: 74.8%;
  top: 95.3%;
  width: 3.9%;
  animation: spot infinite 2s;
}

#Rspot2{
  position: absolute;
  left: 79.6%;
  top: 95.3%;
  width: 3.9%;
  animation: spot infinite 2s;
  animation-delay: 0.25s;
}

#Rspot3{
  position: absolute;
  left: 83.1%;
  top: 95.3%;
  width: 3.9%;
  animation: spot infinite 2s;
  animation-delay: 0.5s;
}

#Rspot4{
  position: absolute;
  left: 85.9%;
  top: 95.3%;
  width: 3.9%;
  animation: spot infinite 2s;
  animation-delay: 0.75s;
}

Img{
  position: relative;
  width: 100%;
}

#loadImg{
  position: relative;
  width: 43.73%;
  left: 28.13%;
  top:10.26%;
}
progress{
  position: absolute;
  background: black;
  width: 43.73%;
  height: 0.9%;
  left: 28.13%;
  top: 43%;
}
progress::-webkit-progress-inner-element { border-radius: 8px; background: red;}
progress::-webkit-progress-value { border-radius: 8px; background: #30f6ee;}
progress::-webkit-progress-bar { border-radius: 8px; background: -webkit-gradient(linear, left 0,right 0, from(#ff528D), to(#ffff33));}

#home_bt_enter{
  background-color: black;
  left: 24.8%;
  top:100%;
  width: 49.3%;
  position: absolute;
}

#loadingDiv{
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

html, body{
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

button{
  position: relative;
  background-color: black;
  left: 11.8%;
  top: 0%;
  width: 76.3%;
  border: 0;
  outline: none;
}
