form{
  background-image: url("/images/question/question_background.png");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.q1s1{
  position: absolute;
  left: .89rem;
  top:6.16rem;
  width: 5.11rem;
  height: 1.2rem;
}

.q1s2{
  position: absolute;
  left: .87rem;
  top: 7.89rem;
  width: 6.86rem;
  height: 1.2rem;
}

.q1s3{
  position: absolute;
  left: .87rem;
  top: 9.63rem;
  width: 7.39rem;
  height: 1.2rem;
}

.q1{
  position: relative;
  left:.27rem;
  top:.39rem;
  width:9.47rem;
  height:14.87rem;
  background-image: url("/images/question/q1.png");
  background-size: cover;
}

.q2s1{
  position: absolute;
  left: 1.64rem;
  top:6.16rem;
  width: 2.77rem;
  height: 1.2rem;
}

.q2s2{
  position: absolute;
  left: 3.03rem;
  top: 7.89rem;
  width: 2.77rem;
  height: 1.2rem;
}

.q2s3{
  position: absolute;
  left: 4.48rem;
  top: 9.63rem;
  width: 2.77rem;
  height: 1.2rem;
}

.q2{
  position: relative;
  left:.27rem;
  top:.39rem;
  width:9.47rem;
  height:14.87rem;
  background-image: url("/images/question/q2.png");
  background-size: cover;
}

.q3s1{
  position: absolute;
  left: .87rem;
  top:6.16rem;
  width: 4.91rem;
  height: 1.2rem;
}

.q3s2{
  position: absolute;
  left: 1.95rem;
  top: 7.89rem;
  width: 6rem;
  height: 1.2rem;
}

.q3s3{
  position: absolute;
  left: .92rem;
  top: 9.63rem;
  width: 6rem;
  height: 1.2rem;
}

.q3{
  position: relative;
  left:.27rem;
  top:.39rem;
  width:9.47rem;
  height:14.87rem;
  background-image: url("/images/question/q3.png");
  background-size: cover;
}

.q4s1{
  position: absolute;
  right: 1.45rem;
  top:6.16rem;
  width: 4.57rem;
  height: 1.2rem;
}

.q4s2{
  position: absolute;
  right: 1.44rem;
  top: 7.89rem;
  width: 6.75rem;
  height: 1.2rem;
}

.q4s3{
  position: absolute;
  right: 1.37rem;
  top: 9.63rem;
  width: 4.76rem;
  height: 1.2rem;
}

.q4{
  position: relative;
  left:.27rem;
  top:.39rem;
  width:9.47rem;
  height:14.87rem;
  background-image: url("/images/question/q4.png");
  background-size: cover;
}

.q5s1{
  position: absolute;
  right: 1.27rem;
  top:6.16rem;
  width: 7.28rem;
  height: 1.2rem;
}

.q5s2{
  position: absolute;
  right: 1.27rem;
  top: 7.89rem;
  width: 7.01rem;
  height: 1.2rem;
}

.q5s3{
  position: absolute;
  right: 1.27rem;
  top: 9.63rem;
  width: 7.57rem;
  height: 1.2rem;
}

.q5{
  position: relative;
  left:.27rem;
  top:.39rem;
  width:9.47rem;
  height:14.87rem;
  background-image: url("/images/question/q5.png");
  background-size: cover;
}

.q6s1{
  position: absolute;
  left: .89rem;
  top:6.16rem;
  width: 5.25rem;
  height: 1.2rem;
}

.q6s2{
  position: absolute;
  left: .89rem;
  top: 7.89rem;
  width: 7.2rem;
  height: 1.2rem;
}

.q6s3{
  position: absolute;
  left: .89rem;
  top: 9.63rem;
  width: 6.11rem;
  height: 1.2rem;
}

.q6{
  position: relative;
  left:.27rem;
  top:.39rem;
  width:9.47rem;
  height:14.87rem;
  background-image: url("/images/question/q6.png");
  background-size: cover;
}

.q7s1{
  position: absolute;
  left: .81rem;
  top:6.16rem;
  width: 5.7rem;
  height: 1.2rem;
}

.q7s2{
  position: absolute;
  left: 2.4rem;
  top: 7.89rem;
  width: 5.55rem;
  height: 1.2rem;
}

.q7s3{
  position: absolute;
  left: .81rem;
  top: 9.63rem;
  width: 5.55rem;
  height: 1.2rem;
}

.q7{
  position: relative;
  left:.27rem;
  top:.39rem;
  width:9.47rem;
  height:14.87rem;
  background-image: url("/images/question/q7.png");
  background-size: cover;
}

.bt_back{
  position: absolute;
  left:.91rem;
  top:11.89rem;
  width: .73rem;
  height: 1.08rem;
}

.swiper-questionnaire {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

progress{
  position: absolute;
  background: black;
  width: 8rem;
  height: .22rem;
  left: 1rem;
  top: .57rem;
  z-index: 9999;
  transition: 0.5s;

}
progress::-webkit-progress-inner-element { border-radius: 8px; background: red;transition: 2s;}
progress::-webkit-progress-value { border-radius: 8px; background: #30f6ee;transition: 0.5s;}
progress::-webkit-progress-bar { border-radius: 8px; transition: 2s;background: -webkit-gradient(linear, left 0,right 0, from(#ff528D), to(#ffff33));}


#cloud{
  position: absolute;
  left: 0rem;
  top:7.89rem;
  width:22.48rem;
  height:2.72rem;
}

@keyframes cloud {
  0%{
    top:5rem;
    opacity: 0.2;
  }
  100%{
    top:4.65rem;
    opacity: 1;
  }
}

@keyframes cloud2 {
  0%{
    transform: translate(0,0);
  }
  100%{
    transform:translateX(-12rem);
  }
}

.cloudAnim{
  animation-name: cloud, cloud2;
  animation-timing-function: linear,linear;
  animation-duration: 0.5s, 4s;
  animation-delay: 0s, 1s;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, normal;
}

#starB{
  position: absolute;
  left: 7.28rem;
  top:2.59rem;
  width: 1.31rem;
}

#starDB{
  position: absolute;
  left: .93rem;
  top:3.68rem;
  width: .59rem;
}

#starO{
  position: absolute;
  left: 5rem;
  top:2.11rem;
  width: .63rem;
}

#squire{
  background-image: url('/images/analysis/squire.png');
  background-position: bottom;
  background-size:cover;
  background-repeat: no-repeat;
  position: absolute;
  left:0;
  bottom:0;
  width:4.16rem;
  height: 0;

}

#lenS1{
  position: absolute;
  left: 4.25rem;
  top:6.51rem;
  width: .39rem;
  height: .57rem;
  opacity: 0;
}

#lenS2{
  position: absolute;
  left: 4.39rem;
  top:6.75rem;
  width: .39rem;
  height: .57rem;
  opacity: 0;
}

#lenS3{
  position: absolute;
  left: 4.68rem;
  top:6.75rem;
  width: .39rem;
  height: .57rem;
  opacity: 0;
}

@keyframes lenS {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes lenTrans1 {
  0%{
    transform: translate(0,0);
  }
  33%{
    transform: translate(.13rem,.24rem);
  }
  66%{
    transform: translate(.43rem,.24rem);
  }
  100%{
    transform: translate(0,0);
  }
}

@keyframes lenTrans2 {
  0%{
    transform: translate(0,0);
  }
  33%{
    transform: translate(.29rem,0);
  }
  66%{
    transform: translate(-.13rem,-0.24rem);
  }
  100%{
    transform: translate(0,0);
  }
}

@keyframes lenTrans3 {
  0%{
    transform: translate(0,0);
  }
  33%{
    transform: translate(-0.43rem,-0.24rem);
  }
  66%{
    transform: translate(-.29rem,0);
  }
  100%{
    transform: translate(0,0);
  }
}

.lenTranAnim1{
  animation-name: lenS, lenTrans1;
  animation-iteration-count:  1,infinite;
  animation-timing-function: linear,linear;
  animation-duration: 1s, 1s;
  animation-delay: 1.8s, 2.5s;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, normal;
}

.lenTranAnim2{
  animation-name: lenS, lenTrans2;
  animation-iteration-count:  1,infinite;
  animation-timing-function: linear,linear;
  animation-duration: 1s, 1s;
  animation-delay: 1.8s, 2.5s;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, normal;
}

.lenTranAnim3{
  animation-name: lenS, lenTrans3;
  animation-iteration-count:  1,infinite;
  animation-timing-function: linear,linear;
  animation-duration: 1s, 1s;
  animation-delay: 1.8s, 2.5s;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, normal;
}

@keyframes squire {
  0%{
    opacity: 0;
    height: 0;
  }
  100%{
    opacity: 1;
    height: 3.76rem;
  }
}

#plate{
  position: absolute;
  left: 3.6rem;
  top:8.45rem;
  width:1.44rem;
  height: .8rem;
  opacity: 0;
}

@keyframes plate {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#microScope{
  position: absolute;
  left: 3.47rem;
  top:4.39rem;
  width:3.1rem;
  height: 5.53rem;
  opacity: 0;
}

@keyframes microScope {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#lens{
  position: absolute;
  left: 5.55rem;
  top:3.83rem;
  width:1rem;
  height: .93rem;
  opacity: 0;
}

@keyframes lens {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes lens2 {
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(-.07rem,0.13rem);
  }
}

.lensAnim{
  animation-name: lens, lens2;
  animation-iteration-count:  1,infinite;
  animation-timing-function: linear,linear;
  animation-duration: 0.5s, 1s;
  animation-delay: 1.5s, 2.5s;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, alternate;
}

#axis{
  position: absolute;
  left: 5.11rem;
  top:6.03rem;
  width:.87rem;
  height: 1.27rem;
  opacity: 0;
}

.axisAnim{
  animation-name: axis, axis2;
  animation-iteration-count:  1,infinite;
  animation-timing-function: linear,linear;
  animation-duration: 0.5s, 1s;
  animation-delay: 1.5s, 2.5s;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, alternate;
}

@keyframes axis {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes axis2 {
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(.07rem,-0.13rem);
  }
}

#cicleOut{
  position: absolute;
  left: 5.2rem;
  top:6.27rem;
  width:.79rem;
  height: .79rem;
  opacity: 0;
}

@keyframes cicleOut1 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes cicleOut2 {
  0%{
    transform: rotateZ(0);
  }
  100%{
    transform: rotateZ(360deg);
  }
}

.cicleOutAnim{
  animation-name: cicleOut1, cicleOut2;
  animation-iteration-count: 1,infinite;
  animation-timing-function: linear,linear;
  animation-duration: 0.5s, 1s;
  animation-delay: 1.5s, 2.5s;
  animation-fill-mode: forwards, forwards;
  animation-direction: normal, normal;
}

#cicleIn{
  position: absolute;
  left: 5.36rem;
  top:6.43rem;
  width:.45rem;
  height: .45rem;
  opacity: 0;
}

#tube1{
  position: absolute;
  left: 1.84rem;
  top:7.08rem;
  width:.68rem;
  height: 2.51rem;
  opacity: 0;
}

#tube2{
  position: absolute;
  left: 1.23rem;
  top:10.44rem;
  width:.68rem;
  height: 2.51rem;
  opacity: 0;
}

#tube3{
  position: absolute;
  left: 8.25rem;
  top:7.64rem;
  width:.68rem;
  height: 2.51rem;
  opacity: 0;
}

#tube4{
  position: absolute;
  left: 6.28rem;
  top:11.53rem;
  width:.68rem;
  height: 2.51rem;
  opacity: 0;
  font-family: "siyuan";
}

@keyframes tube {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(-0.3rem);
  }
}

@keyframes tube2 {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(0.3rem);
  }
}

@keyframes tube3 {
  0%{
    transform: translateY(0);
  }
  100%{
transform: translateY(-0.3rem);
  }
}

.tubeAnim1{
  animation-name : tube, tube2;
  animation-iteration-count : 1,infinite;
  animation-timing-function : liner,ease-in-out;
  animation-duration : 0.5s, 1.5s;
  animation-delay : 1s, 1.5s;
  animation-fill-mode: forwards, forwards;
  animation-direction : normal, alternate;
}

.tubeAnim2{
  animation-name : tube, tube3;
  animation-iteration-count : 1,infinite;
  animation-timing-function : liner,ease-in-out;
  animation-duration : 0.5s, 1.5s;
  animation-delay : 1s, 1.5s;
  animation-fill-mode: forwards, forwards;
  animation-direction : normal, alternate;
}


@font-face {
  font-family: "siyuan";
  src:url('http://cdn.webfont.youziku.com/webfonts/custompath/6E2780359358FEAB/emptyBox/font/myFont.bmp') format('woff');
}
